@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row auth px-4 w-100">
        <AuthLinks />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
