<li class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="reservations">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Reservas
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="schedule">
        <span class="oi oi-calendar" aria-hidden="true"></span> Agenda
    </NavLink>
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="places/owner">
        <span class="oi oi-home" aria-hidden="true"></span> Meu local
    </NavLink>
</li>