@using Models

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">@Place.Name</h5>
                <p class="card-text">@Place.Address.Street, @Place.Address.Neighbourhood</p>
                <p class="card-text"><small class="text-muted">A 3km de distância</small></p>
                <a href="/places/@Place.Id" class="btn btn-primary">Visualizar</a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Place Place { get; set; }
}
