@page "/places"
@inject HttpClient http
@using Models

<h1>Quadras</h1>

@if (places == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var place in places)
        {
            <div class="col-md-4 col-sm-12">
                <PlaceCard Place=@place />
            </div>
        }
    </div>

}

@code {
    Place[] places;

    protected override async Task OnInitializedAsync()
    {
        places = await http.GetJsonAsync<Place[]>("https://localhost:44360/api/places");
    }
}
