@page "/places"
@inject IPlacesService placesService;
@inject IJSRuntime JSRuntime
@using Models
@using Services

<h1>Quadras</h1>

@if (places == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-6 col-sm-12">
            @foreach (var place in places)
            {
                <div class="d-flex">
                    <PlaceCard Place=@place />
                </div>
            }
        </div>
        <div class="col-md-6 col-sm-12">
            <Map/>
        </div>
    </div>

}

@code {
    Place[] places;

    protected override async Task OnInitializedAsync()
    {
        places = await placesService.GetAllPlaces();
    }
}
