@using Models

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title">@Place.Name</h5>
                <p class="card-text">
                    <MatIcon Icon="place"></MatIcon>
                    @Place.Address.Street, @Place.Address.Number - @Place.Address.City
                </p>
                <a href="/places/@Place.Id" class="btn btn-primary">Visualizar</a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Place Place { get; set; }
}
